/* -------------------- */
/* Custom properties    */
/* -------------------- */
:root {
  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;
}

/* -------------------- */
/* Reset                */
/* -------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

* {
  padding: 0;
}

/* Set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------- */
/* Utility classes      */
/* -------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.box {
  background-color: lightblue;
  padding: 3rem;
}

.cta {
  --gap: 4rem;
  padding: 4rem;
  background-color: pink;
  border-radius: 10px;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--color-dark));
}
.bg-accent {
  background-color: hsl(var(--color-light));
}
.bg-white {
  background-color: hsl(var(--color-white));
}

.text-dark {
  color: hsl(var(--color-dark));
}
.text-accent {
  color: hsl(var(--color-light));
}
.text-white {
  color: hsl(var(--color-white));
}

.example-component {
  background-color: hsl(var(--color-light) / 0.2);
}

.color-box {
  flex: 1;
}
